
@{
    ViewBag.Title = "Successfull Registration";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Thank you for registering. Please complete the registration by confirming the email we send to you.
    </p>
</div>