<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="2.0.78" targetFramework="net471" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.3" targetFramework="net471" />
  <package id="Microsoft.AspNet.Identity.Owin" version="2.2.3" targetFramework="net471" />
  <package id="Microsoft.Build.Tasks.Git" version="1.1.1" targetFramework="net471" developmentDependency="true" />
  <package id="Microsoft.Owin" version="4.1.0" targetFramework="net471" />
  <package id="Microsoft.Owin.Security" version="4.1.0" targetFramework="net471" />
  <package id="Microsoft.Owin.Security.Cookies" version="4.1.0" targetFramework="net471" />
  <package id="Microsoft.Owin.Security.OAuth" version="4.1.0" targetFramework="net471" />
  <package id="Microsoft.SourceLink.Common" version="1.1.1" targetFramework="net471" developmentDependency="true" />
  <package id="Microsoft.SourceLink.GitHub" version="1.1.1" targetFramework="net471" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net471" />
  <package id="Owin" version="1.0" targetFramework="net471" />
</packages>